/* index.html */

html,body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}

.container-fluid {
    display: grid;
    grid-template-columns: 12vw 32.5vw 5.5vw 10vw 40vw;
    grid-template-rows: 21.1vh 6.5vh 22.2vh 22.2vh 14vh 14vh;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    text-decoration: none;
    font-size: 22px;
    text-align: center;
}

#social-link {
    float: left;
    margin-left: 34px;
}

a {
    text-decoration: none;
    color: grey;
}
a:hover {
    color: #66FCF1;
}

a:active {
    color: #66FCF1;
}

.navbar {
    grid-column: 1/2;
    grid-row: 3/5;
    background: linear-gradient(to left, #1f1f1f,#121212);
}

.navbarlist {
    padding: 0;
    margin: 0;
}

#navitem {
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-links {
    grid-column: 1/2;
    grid-row: 6/7;
    background: linear-gradient(to left, #1f1f1f,#121212);
}

#social-img {
    width: 31px;
    height: 31px;
}

.main-logo {
    grid-column: 1/2;
    grid-row: 1/2;
    background: linear-gradient(to left, #1f1f1f,#121212);
}

.blank-space-under-logo {
    grid-column: 1/2;
    grid-row: 2/3;
    background: linear-gradient(to left, #1f1f1f,#121212);
}

.blank-space-under-nav {
    grid-column: 1/2;
    grid-row: 5/6;
    background: linear-gradient(to left, #1f1f1f,#121212);
}

.home-title {
    grid-column: 2/4;
    grid-row: 2/4;
    font-size: 32px;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #66FCF1;
    background-color: #66FCF1;
    background-image: linear-gradient(to right, #66FCF1, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.home-text {
    grid-column: 2/4;
    grid-row: 4/5;
    padding-left: 10px;
    margin-bottom: 300px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkgray;
}

.self-img {
    grid-column: 5/6;
    grid-row: 1/7;
}